.navbar {
    background-color: #1C408C;
}
.btn-buscar {
    background-color: #E8E17E;
    color: #274A86;
    border: solid 2px rgba(39, 74, 134, .7);
    ;
    /*margin-top: 5px;*/
}
@media (max-width: 576px) {
    .btn-buscar {
        margin-top: 5px;
    }
}
.filters {
    margin-top: 10px;
    height: 7vh;
    width: 100%;
    border: solid 1px #274A86;
    background-color: #E8E17E;
    border-radius: 5px;
    text-align: center;
}
.filters_big {
    width: 100%;
    background-color: #E8E17E;
}
#btn-filters {
    text-decoration: none;
    color: #274A86
}
#tarjetas .card-body {
    padding: 0px;
    text-align: center;
}
#tarjetas .card {
    margin-right: 5px;
    margin-left: 5px;
    width: 9rem;
    margin-top: 10px;
    border: solid 2px rgba(39, 74, 134, .7);
}
.flex-center {
    display: flex;
    justify-content: center;
}
#tarjetas .btn-tarjeta {
    padding: 2px 4px;
    margin-bottom: 8px;
    background-color: #E8E17E;
    color: #274A86;
    border: solid 2px rgba(39, 74, 134, .7);
}
#tarjetas .card-text {
    margin-bottom: 3px;
}
#tarjetas .card-title {
    margin-bottom: 0;
}
#tarjetas .card-body h5, .card-body p {
    color: #274A86;
}
.imagen-pokemon {
    grid-row: auto;
}
.navbar-filters {
    background-color: #E8E17E;
}
.navbar-dark .navbar-toggler {
    color: rgba(39, 74, 134, .7);
    border: solid 2px rgba(39, 74, 134, .7);
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(39, 74, 134, .7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.Bug {
    background-color: #729f3f;
}
.Dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: rgba(0, 0, 0, 0);
    background-color: #53a4cf;
}
.Fairy {
    background-color: #fdb9e9;
}
.Fire {
    background-color: #fd7d24;
}
.Ghost {
    background-color: #7b62a3;
}
.Ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: rgba(0, 0, 0, 0);
    background-color: #f7de3f;
}
.Normal {
    background-color: #a4acaf;
}
.Psychic {
    background-color: #f366b9;
}
.Steel {
    background-color: #9eb7b8;
}
.Electric {
    background-color: #eed535;
}
.Fighting {
    background-color: #d56723;
}
.Flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: rgba(0, 0, 0, 0);
    background-color: #3dc7ef;
}
/*.planta-veneno {
    background: linear-gradient(180deg, #9bcc50 50%, #b97fc9 50%);
    background-color: rgba(0, 0, 0, 0);
    background-color: #9bcc50;
}*/

.Grass {
    background-color: #9bcc50;
}
.Ice {
    background-color: #51c4e7;
}
.Poison {
    background-color: #b97fc9;
}
.Rock {
    background-color: #a38c21;
}
.Dark {
    background-color: #707070;
}
.Water {
    background-color: #4592c4;
}
.filter-list {
    width: 90px;
    margin: 5px;
}
body {
    background-color: #DAF3E3;
}
.imagen-pokemon {
    border-style: double 2px
}
div.modal-backdrop.fade.show {
    display: none;
}
#calculo-agregado {
    text-align: center;
}
#porcentaje {
    margin-top: 10px;
    padding: 10px;
    border: solid 3px transparent;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px gray;
}
.modal-title {
    color: white;
    text-shadow: 2px 2px gray;
}